<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_rounded_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList"
        tools:targetApi="31">
        <activity
            android:name=".ui.update.UpdateActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
    </application>

</manifest>